@model MyWebDbApp.Models.Occupancy
@using MyWebDbApp.Areas.Identity.Data

@{
    ViewData["Title"] = "Create Occupancy";
}

<h1>Create</h1>

<h4>Occupancy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="mb-3">
                <label asp-for="WorkspaceId" class="form-label"></label>
                <select asp-for="WorkspaceId" class="form-control" asp-items="@(new SelectList(ViewData["Workspaces"] as List<MyWebDbApp.Models.Workspace>, "Id", "Name"))">
                    <option value="">-- Select Workspace --</option>
                </select>
                <span asp-validation-for="WorkspaceId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="EmployeeId" class="form-label"></label>
                <select asp-for="EmployeeId" class="form-control" asp-items="@(new SelectList(ViewData["Employees"] as List<AppUser>, "Id", "UserName"))">
                    <option value="">-- Select Employee --</option>
                </select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Date" class="form-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
